@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Luckiest Guy";
  letter-spacing: 10px;
}

h1 {
  text-align: center;
  font-weight: 400;
  margin-top: 0.5em;
}

.container {
  padding: 4em;
  padding-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h3 {
  margin-bottom: 1em;
}

.computer-choices > h3 {
  text-align: end;
}

.computer-choices,
.human-choices {
  display: flex;
  flex-direction: column;
}

.computer-choices {
  align-items: flex-end;
}

.human-choices > .rock,
.human-choices > .paper,
.computer-choices > .rock,
.computer-choices > .paper {
  display: flex;
  padding-bottom: 30px;
}

.gesture:hover {
  background-color: lightblue;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s, bottom 0.2s;
  position: relative;
  bottom: 0;
  cursor: pointer;
}

.selections, .scores {
  position: absolute;
  padding: 20px;
  padding-left: 40px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.selections {
  bottom: 226px;
}

.player-selection, .computer-selection {
  margin-bottom: 1em;
}

.scores {
  margin-top: 2em;
  bottom: 30px;
}

.final-result {
  margin-top: 1em;
}