@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Luckiest Guy";
  letter-spacing: 10px;
}

h1 {
  text-align: center;
  font-weight: 400;
  margin-top: .5em;
}

.container {
  padding: 4em;
  padding-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h3 {
  margin-bottom: 1em;
}

.computer-choices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rock, .paper, .scissors {
  display: flex;
  margin-bottom: 2em;
}

.gesture:hover {
  box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, .05);
  transition: box-shadow .2s, bottom .2s;
  position: relative;
  bottom: 0;
  cursor: pointer;
}